:root {
    margin: 0px;
}

.page-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 15fr 1fr;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.main {
    background-color: blueviolet;
    display: grid;
    grid-template-columns: minmax(275px, 20%) auto;
}

.sidebar {
    background-color: chartreuse;
}

.footer {
    background-color: aqua;
}