@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,200;1,300;1,700&display=swap');

:root {
    --regular-font: 'Montserrat', sans-serif;

    --background-light: #F2E9E4;
    --main-colour-lighter: #8fc0a9;
    --main-colour: #3a946a;
    --main-colour-darker: #236144;
    --secondary-colour: #449dd1;
    --background-dark: #4a4e69;
    --accent-bright: #f58f00;
    --accent-darker: #CC7700;
    --light-grey: #A0A3BB;

    margin: 0px;
    font-family: var(--regular-font);
    font-size: 18px;
}

body {
    margin: 0;
}

button {
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--light-grey);
    background-color: var(--accent-bright);
    padding: 8px 16px;
    font-size: 1.3rem;
    width: fit-content;
    height: 3rem;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 1px var(--accent-darker);
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

header, footer {
    background-color: var(--main-colour);
    font-weight: 600;
    color: white;
}

.logo-box {
    display: flex;
    justify-content: space-around;
    font-family: var(--regular-font);
    font-weight: 900;
    font-size: 2.5rem;
    color: white;
}

.search input {
    height: 2rem;
    width: 20vw;
    border-radius: 2rem;
    border: 1px solid var(--background-dark);
    padding: 0 1rem;
    font-size: 16px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    gap: clamp(32px, 10vw, 10em);
}

.header-profile-box {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    border-radius: 5px;
    background-color: var(--main-colour-darker);
    padding: 0.5rem 1rem;
}

.profile-pic {
    border-radius: 50%;
    content: url("Images/Cool\ Kids\ -\ Avatar.png");
    width: 3rem;
    height: 3rem;
    background-color: #d6bfbf;
}

.username {
    text-align: center;
    font-weight: 600;
    color:white;
}

main {
    background-color: var(--background-light);
    display: grid;
    grid-template-columns: minmax(275px, 20%) auto;
}

.sidebar {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15%;
    color: white;
    font-weight: 500;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile-pic {
    width: 5rem;
    height: 5rem;
    display: block;
}

.sidebar .username {
    font-size: 1.5rem;
}

.sidebar > div {
    border-bottom: 1px solid var(--light-grey);
    width: 100%;
}

.sidebar > div:last-child {
    border-bottom: none;
}

.sidebar-nav, .sidebar-settings {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 1rem 0;
    padding: 1rem 0 1rem 1rem;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar-nav .nav-icon:nth-child(1) {
    content: url("Icons/folder-white.svg");
}

.sidebar-nav .nav-icon:nth-child(3) {
    content: url("Icons/award-white.svg");
}

.sidebar-nav .nav-icon:nth-child(5) {
    content:url("Icons/list-white.svg")
}

.sidebar-nav .nav-icon:nth-child(7) {
    content: url("Icons/user-white.svg");
}

.sidebar-settings .nav-icon:nth-child(1) {
    content: url("Icons/settings-white.svg");
}

.sidebar-settings .nav-icon:nth-child(3) {
    content: url("Icons/log-out-white.svg");
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 6fr 2fr 6fr;
    padding: 2rem;
    gap: 16px;
}

.page-title {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(34, 36, 46);
}

.current-project {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 20% 80%;
    align-items: center;
}

.project-image {
    background-color: white;
    background-image: url("Images/Cool\ Kids\ -\ Study.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    height: 100%
}

.current-project > h2 {
    grid-column: 1 / -1;
}

.project-description {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    height: 100%;
    justify-content: center;
    gap: min(3rem, 16px);
}

.project-queue {
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-gap: 1rem;
}

.queue-cards {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.card {
    border-radius: 5px;
}

.queue-cards > .card {
    width: 10vw;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.queue-cards :nth-child(1) {
    background-image: url("Images/The\ Little\ Things\ -\ Business\ Planning.png");
}

.queue-cards :nth-child(2) {
    background-image: url("Images/Cool\ Kids\ -\ Performing.png");
}

.queue-cards :nth-child(3) {
    background-image: url("Images/Olá\ -\ Gardening\ Together.png");
}

.queue-cards :last-child {
    background-color: var(--main-colour-lighter);
    background-image: url("Icons/plus-circle-white.svg");
    background-size: 3rem 3rem;
}

.achievements, .learning-goals {
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 5px var(--light-grey);
    margin: 1rem 2rem 0 0;
    display: grid;
    align-items: center;
    padding: 1rem;
}

.achievements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    margin: 2rem 0;
}

.achievement {
    background-color: var(--main-colour);
    border-radius: 5px;
    width: 5vw;
    height: 5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.achievement:nth-child(1) {
    background-image: url("Icons/achievements-placeholders/airballoon-outline-white.svg");
}

.achievement:nth-child(2) {
    background-image: url("Icons/achievements-placeholders/alien-outline-white.svg");
}

.achievement:nth-child(3) {
    background-image: url("Icons/achievements-placeholders/auto-fix-white.svg");
}

.achievement:nth-child(4) {
    background-image: url("Icons/achievements-placeholders/bomb-white.svg");
}

.achievement:nth-child(5) {
    background-image: url("Icons/achievements-placeholders/xml-white.svg");
}

.goals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 1rem;
    width: 100%;
    margin: 2rem 0;
}

.goal {
    border-radius: 5px;
    background-color: var(--secondary-colour);
    height: 5vh;
    width: 100%;
    color: white;
    font-weight: 600;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 1rem;
}

.btn-container {
    display: grid;
    justify-items: end;
}

footer {
    display: grid;
    align-items: center;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20vw;
}

